@tailwind base;
@tailwind components;
@tailwind utilities;

 

 @layer base{

    body{

        @apply font-montserrat
    }
 }


 .header .toggleMenu span{


    height: 0.2rem;
    width: 2rem;
    @apply bg-darkGray block mb-1
 }

 .header .toggleMenu span:nth-child(2){
    width: 1.5rem;
 }



 .header .toggleMenu span:nth-child(3){

    width: 0.8rem;

 }

 .headerMobileNav.active{

    max-height: 500px;

 }
 .headerMobileNav{

    max-height: 0;
    overflow: hidden;
 }

 .border{
   border-color: #23a6f0;
 }